<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/customers.css')}}" />

  <title>Customers</title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");

    .nav-links {
      outline: 1px solid limegreen;
      justify-content: center;
      display: grid;
      grid-template-rows: 0fr;
      grid-template-columns: 0fr;
      /* overflow: hidden; */
    }

    .hide {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }

    .bar {
      background: #f7f7f78a;
      height: 3px;
      width: 40px;

    }

    .mb {
      margin-bottom: 10px;
    }

    .bar-container {
      background: transparent;
      border-style: none;
    }
  </style>
</head>

<body>
  <div class="flex">
    <div class="wrapper">


      <nav class="navcontainer">
        <div class="logo">
          <h2>
            <a href=""><img src="{{ url_for('static', filename= 'images/logo.png')}}" alt="" class="logo-size" /></a>
          </h2>

          <button class="bar-container" onclick="toggleClass()">
            <div class="bar mb" onclick="blur()"></div>
            <div class="bar mb"></div>
            <div class="bar"></div>
          </button>
        </div>

        <div class="nav-links">
          <!-- <div style="display: block;"> -->
          <a href="{{ url_for('homePage')}}">Home</a>
          <a href="{{ url_for('customersPage')}}">View all Customers</a>
          <a href="{{ url_for('transactionPage')}}">All Transactions</a>
          <a href="">About</a>
          <!-- </div> -->
        </div>
      </nav>
    </div>

    <div class="customers-main">
      <div class="tandc-container">
        <div class="person-card">
          <div class="personflex">
            <div class="person-logo">
              <img
                src="https://media.architecturaldigest.com/photos/60e71db5ab269c67afc7e283/1:1/w_2000,h_2000,c_limit/GettyImages-1215628293.jpg"
                alt="" width="100%" style="border-radius: 50%" id="elonimg" />
              <h2 class="aunter" style="
                      color: azure;
                      font-family: voyage;
                      text-align: center;
                      
                    ">
                Entrepreneur.
              </h2>
            </div>
            <div class="person-text">
              <h1 style="text-shadow: 1px 1px 2px black" id="elon">
                Elon Musk
              </h1>
              <h2 style="font-size: 0.7em; color: rgba(0, 0, 0, 0.53)">
                Balance: $187108
              </h2>
              <p style="font-size: 0.6em; color: rgb(218, 246, 255)" id="p-id">
                Elon Musk is the CEO of SpaceX and Tesla, and he also holds
                leadership positions companies such as Neuralink, The Boring
                Company, and OpenAI.
              </p>
            </div>
          </div>
        </div>

        <div class="transfer-container">
          <h1 style="
                  text-align: center;
                  color: rgba(0, 0, 0, 0.277);
                  margin-top: 20px;
                  font-family: Poppins;
                ">
            Transfer Now
          </h1>
          <div class="input-m">
            <b style="color: rgb(231, 231, 231)">$</b>
            <input type="text" id="input" onclick="inputFunc()" style="font-family: fantasy" />
          </div>

          <div class="listofsender" onclick="senderList()">
            <span style="font-family: Poppins">Select Sender</span>
          </div>
          <div class="listname">
            {% for i in customers %}
            <div onclick="namePlate({{i[2]}})" class="name1">
              <div class="contentp">
                <img src="{{i[0]}}" alt="" width="40px" style="border-radius: 50%; margin: 0px 10px" />
                <h3>{{i[2]}}</h3>
                <h4 style="
                        position: absolute;
                        font-size: 10px;
                        font-family: Poppins;
                        top: 5em;
                        font-weight: 100;
                        left: 18.3em;
                      ">
                  Balance : $ {{i[3]}}
                </h4>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="other-customerlist">
        <div class="user-btn">
          <h1 class="user-acc">
            Users Account
          </h1>
        </div>


        <div class="bg-customers">
          {% for i in customers %}
          <div class="customers-pfp" onclick="namePlate()">
            <div class="logo-p">
              <img src="{{i[0]}}" alt="" width="100%" style="border-radius: 50%" />
            </div>

            <div class="balance-div">
              <div class="head-name">
                <h2>{{i[2]}}</h2>
              </div>
              <h4 style="
                      font-family: Poppins;
                      font-weight: 100;
                      padding-bottom: 40px;
                    ">
                Balance: $ {{i[3]}}
              </h4>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename= 'js/jquery.js')}}"></script>

  <script>
    function namePlate(name) {
      var s = document.getElementById("elon");
      var elonimg = document.getElementsByClassName("person-logo")[0];
      var p = document.getElementById("p-id");
      if (money !== "") {
        $.ajax({
          data: {
            money: $("#input").val(),
            sender: s,
            reciever: name,
          },
          type: "POST",
          url: "/transferto",
        }).done(function (data) {
          // console.log(data);
          location.reload();
        });
      } else {
        alert("Please Enter Money to Transfer!");
      }
    }

    function inputFunc() {
      var input = document.getElementById("input");
      input.style = "width: 20em";
    }

    function senderList() {
      var div = document.getElementsByClassName("listname")[0];
      div.style = "position : relative; right:0% ";
    }

    function toggleClass() {
      const ul = document.getElementsByClassName("nav-links")[0];
      ul.classList.toggle('hide');
    }

      // function namePlate() {
      //   var name = document.getElementById("elon");
      //   var elonimg = document.getElementsByClassName("person-logo")[0];
      //   var p = document.getElementById("p-id");
      //   p.innerText =
      //     "Jeff Bezos is the founder and former CEO of Amazon.com, Inc., which is one of the world's largest online retailers. He also owns Blue Origin, a space exploration company that aims to make space travel accessible to the general public.";
      //   elonimg.innerHTML =
      //     '<img                    src="https://i.guim.co.uk/img/media/ef573276855d9e04aaed3dae615757a8725e52d9/297_329_2974_1784/master/2974.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=0138f94d134e8d57a81851aeef3ae881"                    alt=""                    width="100%"                    style="border-radius: 50%"                                     />';
      //   name.innerText = "Jeff Bezos";
      // }
  </script>
</body>

</html>